* {
	font-family: "RobotoDraft";
	font-weight: 300;
}

core-drawer-panel:not([narrow]) #menu_icon {
	display: none;
}

core-toolbar {
	background-color: #03a9f4;
	color: white;
}

core-menu {
	color: #01579b;
	margin: 10px 0 0 0;
}

core-menu > core-item {
	padding: 6px, 6px, 6px, 12px;
	transition: all 300ms ease-in-out;
}

core-menu > core-item.core-selected {
	background: #e1f5fe;
}

#nav_menu {
	background-color: white;
}

#search_input {
	background-color: white;
}

core-drawer-panel > core-header-panel > div > div.content {
	border-radius: 5px;
	background-color: white;
	width: 85%;
	height: 100%;
	padding: 1.2%;
	-webkit-user-select: none;
}

@media all and (max-width: 480px) {
	core-drawer-panel > core-header-panel > div.content {
		width: 100%;
		height: 100%;
	}
}