/* War */
.select-war-create {
	display: inline-block;
	border: 1px solid #ccc;
	border-bottom: none;
	background: #666;
	color: white;
	list-style: none;
	margin: 0;
	padding: 0;
}

.select-war-create > * {
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	border-bottom: 1px solid #ccc;
}

.select-war-create > *.core-selected {
	background: #333;
}


/* WarPlayer */
.box-war-player {
	min-width:248px;
	min-height: 146px;
	background-color: #E0E0E0;
	border: 1px solid #9E9E9E;
	margin: 12px;	
}

.box-war-player-header {
	color: white;
	background-color: #03A9F4;
	padding: 2px;
	margin-bottom: 6px;
}

.box-war-player-item-check {
	min-width: 82px;
}

.war-player-label {
	padding: 4px;
}


/* WarEnemy */
.box-war-enemy {
	min-width:204px;
	min-height: 146px;
	background-color: #E0E0E0;
	border: 1px solid #9E9E9E;
	margin: 12px;	
}

.box-war-enemy-header {
	color: white;
	background-color: #F44336;
	padding: 2px;
	margin-bottom: 6px;	
}

.box-war-enemy-player-name {
	margin: 4px;
	text-align: center;
}

.war-enemy-label {
	padding: 4px;
	margin-left: 4px;
}


/* Attack */
.attack {
	min-width: 160px;
	background-color: #EEEEEE;
	border: 1px solid #BDBDBD;
	margin: 2px;
	padding: 4px;
}

.attack .label {
	min-width: 92px;
	text-align: right;
	padding-right: 4px;
}

.attack .value {
	font-weight: bold;
}

.select-attack {
	display: flex;
	border: 1px solid #ccc;
	border-bottom: none;
	background: #666;
	color: white;
	list-style: none;
	margin: 0;
	padding: 0;
}

.select-attack > * {
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	border-bottom: 1px solid #ccc;
}

.select-attack > *.core-selected {
	background: #333;
}


/* Clan */
.box-clan {
	margin: 12px;
}

.box-clan-player-name {
	width: 240px;
}


/* Messages */
.error {
	color: white;
	background-color: #F44336;
	border-radius:4px;
	padding: 12px;
	margin: 4px;
}


/* Buttons */
.button-raised-red {
	color: white;
	background-color: #F44336;
	margin: 4px;
}

.button-raised {
	color: white;
	background-color: #03A9F4;
	margin: 4px;
}

.button-done {
	color: white;
	background-color: #03A9F4;
}